---
layout: default
section_id: portfolio

workings:
- year: 
  papers:
  - title: Guerrier, S., Dupuis, E., Ma, Y. &amp Victoria-Feser, M.-P., Simulation based Bias Correction Methods for Complex Models.
  - title: Balamuta, J., Guerrier, S., Molinari, R. &amp Yang, W., A Computationally Efficient Framework for Automatic Inertial Sensor Calibration. <a href="https://arxiv.org/abs/1603.05297">Link</a> <a href="https://arxiv.org/pdf/1603.05297.pdf">Full text</a>
  - title: Guerrier, S. &amp Molinari, R., Wavelet Variance for Random Fields&#58 an M-Estimation Framework. <a href="http://arxiv.org/abs/1607.05858">Link</a> <a href="https://arxiv.org/pdf/1607.05858.pdf">Full text</a>
  - title: Guerrier, S. &amp Molinari, R., On the Identifiability of Latent Models for Dependent Data. <a href="https://arxiv.org/abs/1607.05884">Link</a> <a href="https://arxiv.org/pdf/1607.05884.pdf">Full text</a>
  - title: Guerrier, S. &amp Molinari, R.,  Fast and Robust Parametric Estimation for Time Series and Spatial Models. <a href="https://arxiv.org/abs/1607.05861">Link</a> <a href="https://arxiv.org/pdf/1607.05861.pdf">Full text</a>
  - title: Guerrier, S., Victoria-Feser, M.-P. &amp Avella, M.,  A Prediction Divergence Criterion for Model Selection. <a href="https://arxiv.org/abs/1511.04485">Link</a> <a href="https://arxiv.org/pdf/1511.04485.pdf">Full text</a>
  - title: Balamuta, J., Guerrier, S., Molinari, R. &amp Yang, W.,  The gmwm R Package&#58 a Comprehensive Tool for Time Series Analysis from Robustness to State-Space Models. <a href="https://arxiv.org/abs/1607.04543">Link</a> <a href="https://arxiv.org/pdf/1607.04543.pdf">Full text</a>
  - title: Xu, H., Guerrier, S., Molinari, R. &amp Zhang, Y.  A Study of the Allan Variance for Constant-Mean Non-Stationary Processes. <a href="https://arxiv.org/abs/1702.07795?context=math">Link</a> <a href="https://arxiv.org/pdf/1702.07795.pdf">Full text</a>
  - title: Jammalamadaka, S.R., Mangalam, V. &amp Guerrier, S.,  Exact Distributions and Per- formance of some Two-sample Nonparametric Tests for Circular Data.
  - title: Branca, M., Orso, S., Molinari, R., Guerrier, S. &amp Mili, N.,  Is Metastatic Melanoma Predictable by Genomic Biomarkers?. 
  - title: Orso, S., Clausen, P., Guerrier, S. &amp Skaloud J.,  Inertial Sensor Calibration with Varying Environmental Conditions. 



publications:
- year: 2016
  papers:
    - title: Guerrier, S., Mili, N., Molinari, R., Orso S., Avella-Medina, M. &amp Ma, Y.,  A Paradigmatic Regression Algorithm for Gene Selection Problems, Frontiers in Genetics, Statistical Genetics and Methodology, 2016. <a href="https://arxiv.org/abs/1511.07662">Link</a> <a href="https://arxiv.org/pdf/1511.07662.pdf">Full text</a> 
    - title: Guerrier, S., Molinari, R., &amp Yannick S.,  Theoretical Limitations of Allan Variance- based Regression for Time Series Model Estimation, IEEE Signal Processing Letters, 2016. <a href="http://ieeexplore.ieee.org/document/7433406/">Link</a>
    - title: Guerrier, S., Molinari, R. &amp Stebler, Y.,  Wavelet-based Improvements for Inertial Sensor Error Modelling, IEEE Transactions on Instrumentation and Measurement, 2016. <a href="http://ieeexplore.ieee.org/document/7555332/?reload=true">Link</a> 
    - title: Guerrier, S., Molinari, R. &amp Balamuta, J.,  Discussion on Maximum Likelihood-based Methods for Inertial Sensor Calibration, IEEE Sensors Journal, 2016. <a href="http://ieeexplore.ieee.org/document/7466804/">Link</a> 
    - title: Duncan, I. &amp Guerrier, S.,  Member Plan Choice and Migration in Response to Changes in Member Premiums after Massachusetts Health Insurance Reform, North American Actuarial Journal, 2016. <a href="http://www.tandfonline.com/doi/full/10.1080/10920277.2016.1200991">Link</a> 
    - title: Kerr D., Yadollahi M., Mendoza H., Chen X., Dong S., Guerrier S., Laan R. &amp Duncan I.,  Use of a publically available database to determine the impact of diabetes on length of hospital stay for elective orthopedic procedures in California, Population Health Management, 2016. <a href="https://www.ncbi.nlm.nih.gov/pubmed/27007572">Link</a>

- year: 2015
  papers:
    - title: Guerrier, S., Molinari, R. &amp Skaloud, J.,  Automatic Identification and Calibration of Stochastic Parameters in Inertial Sensors, Journal of the Institute of Navigation, 2015. <a href="http://onlinelibrary.wiley.com/doi/10.1002/navi.119/abstract">Link</a> <a href="http://onlinelibrary.wiley.com/doi/10.1002/navi.119/full">Full text</a>
    - title: Stebler, Y., Guerrier, S. &amp Skaloud, J.,  An Approach for Observing and Modeling Errors in MEMS-based Inertial Sensors under Vehicle Dynamic, IEEE Transactions on Instrumentation and Measurement, 2015. <a href="http://ieeexplore.ieee.org/document/7159103/">Link</a> 

- year: 2014
  papers:
    - title: Stebler, Y., Guerrier, S., Skaloud, J. &amp Victoria-Feser, M.-P.,  The Generalized Method of Wavelet Moments for Inertial Navigation Filter Design, IEEE Transactions on Aerospace and Electronic Systems, 2014. <a href="http://ieeexplore.ieee.org/document/6965773/">Link</a>
    - title: Guerrier, S., Molinari, R., &amp Victoria-Feser, M.-P.,  Estimation of Time Series Models via Robust Wavelet Variance,  Austrian Journal of Statistics, 2014. <a href="http://www.ajs.or.at/index.php/ajs/article/view/vol43-4-5">Link</a>  <a href="http://www.ajs.or.at/index.php/ajs/article/view/vol43-4-5/34">Full text</a>

- year: 2013
  papers:
    - title: Guerrier, S., Stebler, Y., Skaloud, J. &amp Victoria-Feser, M.-P.,  Wavelet-Variance-Based Estimation for Composite Stochastic Processes, Journal of the American Statistical Association (Theory &amp Methods), 2013. <a href="http://www.tandfonline.com/doi/abs/10.1080/01621459.2013.799920">Link</a>  <a href="http://www.tandfonline.com/doi/full/10.1080/01621459.2013.799920?scroll=top&needAccess=true">Full text</a>  

- year: 2012
  papers:
    - title: Guerrier, S., Skaloud, J., Waegli, A. &amp Victoria-Feser, M.-P.,  Fault Detection and Isolation in Multiple MEMS-IMUs Configurations, IEEE Transactions on Aerospace and Electronic Systems, 2012. <a href="http://ieeexplore.ieee.org/document/6237576/">Link</a>

- year: 2011
  papers:
    - title: Stebler, Y., Guerrier, S., Skaloud, J. &amp Victoria-Feser, M.-P.,  Constrained EM Algorithm for Stochastic Inertial Error Modelling&#58 Study of Feasibility, Journal of Measurement Science & Technology, 2011.  <a href="https://archive-ouverte.unige.ch/unige:16811">Link</a> 

- year: 2010
  papers:
    - title: Waegli, A., Skaloud, J., Guerrier, S., Pares, M. &amp Colomina, I.,  Noise Reduction and Estimation in Multiple Micro-Electro-Mechanical Inertial Systems, Journal of Measurement Science & Technology, 2010.  <a href="http://iopscience.iop.org/article/10.1088/0957-0233/21/6/065201/meta">Link</a>  <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.167.1451&rep=rep1&type=pdf">Full text</a> 



proceedings:
- year: 2015
  papers:
    - title: Molinari, R., Balamuta, J., Guerrier, S. &amp Skaloud, J.,  An Inertial Sensor Calibration Platform to Estimate and Select Error Models, in Proceedings of the International Association of Institutes of Navigation, Prague, Czech Republic, 2015. 
      url:
      text:
    - title: Balamuta, J., Molinari, R., Guerrier, S. &amp Skaloud, J.,  A Computationally Efficient Platform for Inertial Sensor Calibration, in Proceedings of the ION GNSS 2015, Tampa, FL, USA, 2015. <a href="https://www.ion.org/publications/abstract.cfm?articleID=12867">Link</a> 
    - title: Molinari, R., Balamuta, J., Guerrier, S. &amp Skaloud, J.,  Automatic and Computationally Efficient Method For Model Selection In Inertial Sensor Calibration, in Proceedings of the ION GNSS 2015, Tampa, FL, USA, 2015. <a href="https://www.ion.org/publications/abstract.cfm?articleID=12974">Link</a> 

- year: 2014
  papers:
    - title: Stebler, Y., Guerrier, S., Skaloud, J., Molinari, R., &amp Victoria-Feser, M.-P.,  Study of MEMS-based Inertial Sensors Operating in Dynamic Conditions, in Proceedings of IEEE/ION PLANS 2014, Monterey, CA, USA, 2014. <a href="http://ieeexplore.ieee.org/document/6851497/">Link</a> 

- year: 2013
  papers:
    - title: Guerrier, S., Molinari, Skaloud, J. &amp Victoria-Feser, M.-P.,  An Algorithm for Automatic Inertial Sensors Calibration, in Proceedings of the ION GNSS 2013, Nashville, TN, USA, 2013. <a href="https://archive-ouverte.unige.ch/unige:30305">Link</a> 

- year: 2012
  papers:
    - title: Stebler, Y., Guerrier, S., Skaloud, J. &amp Victoria-Feser, M.-P.,  A Framework for Inertial Sensor Calibration Using Complex Stochastic Error Models, in Proceedings of IEEE/ION PLANS 2012, Myrtle Beach, SC, USA, 2012.  <a href="http://ieeexplore.ieee.org/document/6236827/">Link</a>

- year: 2011
  papers:
    - title: Stebler, Y., Guerrier, S., Skaloud, J. &amp Victoria-Feser, M.-P.,  Improving Modeling of MEMS-IMUs Operating in GNSS-denied Conditions, in Proceedings of the ION GNSS 2011, Portland, OR, USA, 2011. <a href="https://archive-ouverte.unige.ch/unige:29033">Link</a>

- year: 2010
  papers:
    - title: Guerrier, S., Skaloud, J., Waegli, A. &amp Victoria-Feser, M.-P., Robust FDI in Redundant MEMS-IMUs Systems, EuroCow, the Calibration and Orientation Workshop (Euro- pean Spatial Data Research), Barcelona, Spain, 2010. 
      url:
      text:

- year: 2009
  papers:
    - title: Guerrier, S.,  Improving Accuracy with Multiple Sensors&#58 Study of Redundant MEMS- IMU/GPS Configurations, in Proceedings of the ION GNSS 2009, Savannah, GA, USA, 2009. <a href="https://www.ion.org/publications/abstract.cfm?articleID=8725">Link</a>

- year: 2008
  papers:
    - title: Waegli, A., Guerrier, S. &amp Skaloud, J., Redundant MEMS-IMU integrated with GPS for Performance Assessment in Sports, in Proceedings of IEEE/ION PLANS 2008, Monterey, CA, USA, 2008. <a href="http://ieeexplore.ieee.org/document/4570079/">Link</a>



---
<!--Image size: 800 X 500-->
<div class='full'>
  <div class='row'>
    <div class='large-10 large-centered columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for image in page.images %}
            <div class="slide">
              <img src="{{site.url}}/{{image}}" alt="">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
<div class='full no-padding'>
  <div class='spacing'></div>
  <div class='row'>
     <div class='small-3 small-centered columns'>
        <h2>Publications</h2>
    </div>
  </div>
</div>
    <div class='large-12 columns'>
      <h3>Working Papers</h3>
      
        <ul class='large-12 columns' style="list-style: none">
        {% for working in page.workings %}
          <li class='{{publication.class}}'>
              <h3>{{working.year}}</h3>
                        <ul class='papers'  style="list-style: decimal">
              {% for paper in working.papers %}
                <font size="+1">
                 <li class='{{paper.class}}'>
                   <p><font size="+1">{{paper.title}}</font></p>
                </li>
                </font>          
              {% endfor %}
            <div class='spacing'></div>
            </ul>
           </li>
        {% endfor %}
      </ul>
        
     <h3>Publications</h3>
      <ul class='large-12 columns' style="list-style: none">
       {% for publication in page.publications %}
          <li class='{{publication.class}}'>
              <h3>{{publication.year}}</h3>
                        <ul class='papers'  style="list-style: decimal">
              {% for paper in publication.papers %}
                <font size="+1">
                 <li class='{{paper.class}}'>
                   <p><font size="+1">{{paper.title}}</font></p>
                </li>
                </font>          
              {% endfor %}
            <div class='spacing'></div>
            </ul>
           </li>
        {% endfor %}
      </ul>
    

    <h3>Conference Proceedings</h3>
      <ul class='large-12 columns' style="list-style: none">
       {% for proceeding in page.proceedings %}
          <li class='{{proceeding.class}}'>
              <h3>{{proceeding.year}}</h3>
                        <ul class='papers'  style="list-style: decimal">
              {% for paper in proceeding.papers %}
                <font size="+1">
                 <li class='{{paper.class}}'>
                   <p><font size="+1">{{paper.title}}</font></p>
                </li>
                </font>                
              {% endfor %}
            <div class='spacing'></div>
            </ul>
           </li>
        {% endfor %}
      </ul>
              
  </div>
  <div class='four spacing'></div>
</div>
