---
layout: default
section_id: model-selection
images:
  - images/ml-big.jpg

papers: 
  - title: Guerrier, S., Stebler, Y., Skaloud, J. &amp Victoria-Feser, M.-P., Wavelet-Variance-Based Estimation for Composite Stochastic Processes, Journal of the American Statistical Association (Theory & Methods), 2013.
    url: http://www.tandfonline.com/doi/full/10.1080/01621459.2013.799920
    text: 
---
<!--Image size: 800 X 500-->
<div class='full'>
  <div class='row'>
    <div class='large-10 large-centered columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for image in page.images %}
            <div class="slide">
              <img src="{{site.url}}/{{image}}" alt="">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
<div class='full no-padding'>
  <div class='spacing'></div>
  <div class='row'>
    <div class='medium-3 medium-centered columns'>
        <h3>Model Selection</h3>
    </div>
  </div>
</div>
    <div class='large-12 columns'>
      <h4>Motivation</h4>
      <p>
          The goal of data analysis is often to understand, among the increasing number of features, which of these contribute in a statistically significant manner to explaining and predicting a certain phenomenon of interest. Nowadays the growing size of data, and details collected in this data, adds a considerable level of uncertainty in determining which variables must be object of specific analytical focus. Different methods can be used to select the variables to be used within a statistical model but they can sometimes be numerically unstable or not suitable to the problem at hand. Our research aims at delivering approaches that allow to identify the (few) relevant features of a problem in a suitable and flexible manner thereby obtaining significant and highly interpretable results.
      </p>
      <h4>Publications</h4>
      <ul class='large-12 columns'>
        {% for paper in page.papers %}
          <li class='{{paper.class}}'>
            {{paper.title}} 
              <a href="{{paper.url}}">Link</a>  <a href="{{paper.text}}">Full text</a>
              <div class='spacing'></div>
          </li>
        {% endfor %}
      </ul>
      <h4>Conference Proceedings</h4>
      <div class='spacing'></div>
      <ul class='large-12 columns'>
        {% for conference in page.conferences %}
          <li class='{{conference.class}}'>
            {{conference.title}} 
              <a href="{{conference.url}}">Link</a>  <a href="{{conference.text}}">Full text</a>
              <div class='spacing'></div>
          </li>
        {% endfor %}
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='spacing'></div>
    <div class='row'></div> 
    <div class="large-2 large-offset-9 columns">
        <ul class='info'>
        <li>
          <div class='spacing'></div>
          <a href='Reseach_Computational.html' title='previous'>
            <i class='icon-left-open'></i>
          </a>
          <a href='Research.html' title='back to work list'>
            <i class='icon-layout'></i>
          </a>
          <a href='Reseach_Robust.html' title='next'>
            <i class='icon-right-open'></i>
          </a>
        </li>
      </ul>
      </div>  
    <div class='four spacing'></div>
</div>
