<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <span class="logo">
      <span><a a href="{{ site.baseurl }}">{{ site.title }}</a> <br />
          <span>{{ site.subtitle }}</span>
        </span>
    </span>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
    	<i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
      	<!--{% for page in site.pages %}
          {% if page.title and page.main_nav != false %}
          <li class="nav-link"><a href="{{ page.url | remove_first: '/' | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}-->
		  <li class="nav-link"><a href="{{ 'staff' | remove_first: '/' | prepend: site.baseurl }}">Staff</a>
          <li class="nav-link"><a href="{{ 'methods' | remove_first: '/' | prepend: site.baseurl }}">Methods</a>
          <li class="nav-link"><a href="{{ 'applications' | remove_first: '/' | prepend: site.baseurl }}">Applications</a>
          <li class="nav-link"><a href="{{ 'computing' | remove_first: '/' | prepend: site.baseurl }}">Computing</a>
      </ul>
    </nav>
  </div>
</header>
